body {
    font-family: "Lucinda Grande", Verdana, sans-serif;
    margin: 20px;
}

header {
    background: rgb(121, 56, 3);
    color: azure;
    padding: 70px 20px;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-style: italic;    
}

.bar-menu-wrapper {
    background: rgb(182, 144, 50);
}

section {
    width: 20%;
    padding-top: 50px;
    padding-bottom: 40px;
    margin: auto;
}

ul {
    margin: 0px;
    list-style-position: outside;
    padding-left: 2px; 
    list-style: none;
}

li {
    color: rgb(85, 45, 20);
    padding-left: 7px;
    font-weight: bolder;
} 

li:nth-child(1n) {
    background: rgb(252, 164, 49);
    padding-right: 5px;
    padding-bottom: 3px;
}

label {
    width: 100%;
    display: block;
    text-align: left;
}

p {
    display: inline-block;
    padding: 10px;
}

.footer-inner {
    display: block;
    margin: 0px auto; 
    line-height: 100%;
    text-align: center;
    background: rgb(121, 56, 3);
    color: azure;
}
